body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-family: Raleway "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #fff;
  font-weight: 700;
}

code {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
